<!DOCTYPE html>
<html>
<head><title>Biodata</title></head>
<body>
<h2>Biodata Form</h2>
<form action="/submit" method="POST" enctype="multipart/form-data">
<input name="name" placeholder="Name" required><br>
<input name="age" placeholder="Age" required><br>
<select name="sex"><option>Male</option><option>Female</option></select><br>
<input name="occupation" placeholder="Occupation" required><br>
<input type="file" name="photo" required><br>
<button type="submit">Submit</button>
</form>
<a href="/login">Login</a>
</body>
</html>
